/* List */
#list {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content auto;
	grid-template-areas:
		'todo completed'
		'todo events';
}

#list div {
	align-items: start;
	align-content: start;
	gap: 10px;
}

#todo {
	grid-area: todo;
}

#completed {
	grid-area: completed;
}

#events {
	grid-area: events;
}

/* Todo */
#new-task {
	justify-self: left;
	border-radius: 10px;
}

/* Task container */
.task-container {
	display: grid;
	/* Same size as task card*/
	grid-template-columns: auto repeat(2, calc(52px));
	gap: 10px;
}

.task-container .button {
	display: grid;
	/* Same size as task card height - padding*/
	width: calc(52px - 5px*2);
	height: calc(52px - 5px*2);
	padding: 5px;
	border-radius: 10px;
	align-content: center !important;
	justify-items: center;
}
