/* List */
#list {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content auto;
	grid-template-areas:
		'todo completed'
		'todo events';
	height: calc(100vh - 54px - 26px - 72px);
}

#list > .glass-panel {
	align-items: start;
	align-content: start;
	gap: 10px;
}

#events {
	grid-area: events;
}

/* Empty Text */
#completed > p:not(.panel-title), #todo > p:not(.panel-title), #events > p:not(.panel-title) {
	font-size: 18px;
	padding: 0px 10px;
}

/* Todo */
#todo {
	grid-area: todo;
	height: calc(100vh - 54px - 26px - 2*11px - 72px);
	overflow-y: scroll;
}

#new-task {
	justify-self: left;
}

/* Completed */
#completed {
	grid-area: completed;
}

/* Task container */
.task-container {
	display: grid;
	/* Same size as task card*/
	grid-template-columns: auto repeat(2, calc(52px));
	gap: 10px;
}

#list .button {
	display: grid;
	/* Same size as task card height - padding - border*/
	width: calc(45px - 5px*2 - 1px*2);
	height: calc(45px - 5px*2 - 1px*2);
	padding: 5px;
	border-radius: 10px;
	align-content: center !important;
	justify-items: center;
}
