/* Multi-Progress Bars */
.multi-progress {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	height: 46px;
	width: 100%;
	background-color: var(--gray);
}
.multi-progress .child.green {
	background-color: var(--green);
}
.multi-progress .child.yellow {
	background-color: var(--yellow);
}
.multi-progress .child.red {
	background-color: var(--red);
}
.multi-progress .child.gray {
	background-color: var(--gray);
}
.multi-progress .child {
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 46px;
	width: 100%;
	margin-left: -100%;
}

/* Row 1 */

#dash .row1 {
	grid-template-columns: max-content 1fr 1fr;
}

#basic-info-panel {
	padding-right: 80px;
	width: max-content;
}

#basic-info-panel p {
	font-size: 18px;
}

/* Row 2 */

#dash .row2 {
	grid-template-columns: minmax(min-content, 3fr) minmax(min-content, 4fr);
}
