/* Multi-Progress Bars */
.multi-progress {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	height: 46px;
	width: 100%;
	background-color: var(--gray);
}
.multi-progress .child.green {
	background-color: var(--green);
}
.multi-progress .child.yellow {
	background-color: var(--yellow);
}
.multi-progress .child.red {
	background-color: var(--red);
}
.multi-progress .child.gray {
	background-color: var(--gray);
}
.multi-progress .child {
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 46px;
	width: 100%;
	margin-left: -100%;
}

/* Dash */
#dash {
	grid-template-rows: min-content auto min-content;
}

/* Row 1 */

#dash .row1 {
	grid-template-columns: max-content 1fr 1fr;
}

#basic-info-panel {
	padding-right: 80px;
	width: max-content;
}

#basic-info-panel p {
	font-size: 18px;
}

/* Row 2 */

#dash .row2 {
	grid-template-columns: minmax(min-content, 3fr) minmax(min-content, 4fr);
	height: 100%;
}

.section {
	display: grid;
	gap: 15px;
	align-items: start;
	align-content: start;
}

.dash-cal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}

.day-labels{
	font-size: 22px;
	text-align: center;
}

.dash-cal div {
	display: grid;
	gap: 10px;
}

.dash-cal div .glass-panel {
	border-radius: 10px;
	font-size: 18px;
}

.dash-cal div .glass-panel p{
	text-align: center;
	overflow-wrap: break-word;
	overflow: hidden
}

/* Row 3 */

#dash .row3 {
	grid-template-rows: repeat(2, min-content);
	gap: 5px;
}

#links {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
}

#links .glass-panel {
	padding: 5px;
	border-radius: 10px;
}

.link {
	display: grid;
	grid-template-columns: min-content max-content;
	gap: 10px;
	align-items: center;
	cursor: pointer;
}

.link p {
	font-size: 18px;
}
