/* Colors */
:root {
	--light-gray: rgb(243, 243, 243);
	--gray: rgb(217, 217, 217);
	--dark-gray: rgb(67, 67, 67);
	--red: rgb(255, 89, 100);
	--yellow: rgb(255, 231, 76);
	--green: rgb(87, 239, 102);
	--blue: rgb(67, 139, 255);
	/* 100vw - padding - nav width */
	--main-width: calc(100vw - 36px*2 - 87px);
}

/* Utility Classes */
.hidden {
	display: none !important;
}

.button {
	transition: filter 0.15s;
}

.button:hover {
	cursor: pointer;
	filter: brightness(0.85);
}

.empty-text {
	display: grid;
	align-items: center;
	font-size: 18px;
	width: max-content;
}

/* Full Page Layout Classes */
body {
	display: grid;
	grid-template-areas: 
		'nav content';
	grid-template-columns: min-content auto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: white;
}

#main-content {
	display: grid;
	grid-template-areas: 'title' 'body';
	grid-template-rows: min-content auto;
	grid-area: content;
	padding: 36px;
	gap: 26px;
	width: var(--main-width);
}

#title {
	display: block;
	grid-area: title;
	font-weight: bold;
	font-size: 40px;
	margin-top: 6px;
	height: min-content;
	color: var(--dark-gray)
}

/* Standard Design Classes */
.glass-panel {
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0px 0px 25px rgba(31, 97, 135, 0.1);
	border-radius: 20px;
	padding: 10px;
	display: grid;
	gap: 5px;
	grid-auto-flow: row;
}

.glass-panel .panel-title {
	font-weight: bold;
	font-size: 22px !important;
	color: var(--dark-gray)
}

/* Standard Structure Classes */
.grid {
	display: grid;
	grid-template-rows: min-content;
	grid-auto-flow: row;
	gap: 28px;
}

.grid .row-grid {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 28px;
	height: min-content;
}

/* Task Cards */
.task-card {
	display: grid;
	grid-template-areas: 
		'name days'
		'progress progress';
	grid-template-columns: auto min-content;
	grid-template-rows: min-content min-content;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
	transition: 0.2s;
	row-gap: 3px;
	padding: 5px;
}

.task-card p {
	font-size: 18px;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.task-card p:nth-of-type(1) {
	grid-area: name;
}

.task-card p:nth-of-type(2) {
	grid-area: days;
}

.task-card:hover {
	filter: brightness(0.95);
}

.task-card input {
	transition: 0.1s linear;
}

.task-card:hover input {
	transform: scaleY(1.5);
}

/* Progress */
.progress {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--gray);
	height: 8px;
	width: 100%;
	grid-area: progress;
	overflow: hidden;
	border-radius: 100px;
	cursor: w-resize;
}

.progress:hover {
	filter: brightness(0.9);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
	height: 8px;
	width: 8px;
	border-radius: 100px;
	background-color: var(--blue);
	border: 0px;
	box-shadow: -1004px 0 0 1000px var(--blue);
}

.progress::-moz-range-thumb {
	background: red;
	height: 8px;
	width: 8px;
	border-radius: 100px;
	background-color: var(--blue);
	border: 0px;
	box-shadow: -1004px 0 0 1000px var(--blue);
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: var(--gray);
}

input[type=range]::-moz-range-track {
	background-color: var(--gray);
}

/* Modals */
.modal-container {
	position: absolute;
	backdrop-filter: blur(4px);
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
}

.modal {
	background: rgba(255, 255, 255, 0.8);
	color: var(--dark-gray);
	display: grid;
	margin: 0px 50px;
	padding: 20px;
	max-width: calc(100% - 60px);
	grid-template-areas: 
		'title'
		'content'
		'options';
	grid-template-rows: repeat(3, min-content);
}

.modal p {
	font-size: 22px;
	font-weight: bold;
}

.modal .options {
	display: grid;
	grid-template-columns: min-content auto min-content min-content;
	grid-template-areas: 'left spacer mid right';
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}

.modal .options button {
	display: inline-block;
	min-width: min-content;
	width: 100px;
	padding: 5px 20px;
	border-radius: 8px;
	font-size: 16px;
}

.modal .options .left {
	grid-area: left;
}

.modal .options .mid {
	grid-area: mid;
}

.modal .options .right {
	grid-area: right;
}

.modal .options .green {
	background-color: var(--green);
}

.modal .options .red {
	background-color: var(--red);
	color: white;
	font-weight: bold;
}

/* Form inputs */

.form-label {
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0px;
}

input:focus {
	outline: none;
}

.form input {
	background-color: var(--gray);
	height: 18px;
	border: none;
	border-bottom: 2px solid var(--dark-gray);
	user-select: none;
	padding: 3px 10px;
	font-size: 16px;
	color: black;
}
