/* Colors */
:root {
	--light-gray: rgb(243, 243, 243);
	--gray: rgb(217, 217, 217);
	--dark-gray: rgb(67, 67, 67);
	--red: rgb(255, 89, 100);
	--yellow: rgb(255, 231, 76);
	--green: rgb(87, 239, 102);
	--blue: rgb(67, 139, 255);
	/* 100vw - padding - nav width */
	--main-width: calc(100vw - 36px*2 - 87px);
	user-select: none;
}

/* Scrollbar */
*::-webkit-scrollbar {
	position: absolute;
	width: 8px;
}
 
*::-webkit-scrollbar-track {
	background-color: transparent;
}
 
*::-webkit-scrollbar-thumb {
	background-color: #aaaaaa;
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #888888;
}

/* Network banners */
.network-banner {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px 5px;
	border-top-left-radius: 10px;
	font-weight: bold;
	pointer-events: none;
	opacity: 0;
	transition: ease 0.5s;
}

.network-banner.shown {
	opacity: 1;
}

.network-banner::before {
	content: "";
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100vw;
	height: 5px;
}

#offline, #offline::before {
	color: white;
	background-color: var(--red);
}

#online, #online::before {
	background-color: var(--green);
}

/* Utility Classes */
.hidden {
	display: none !important;
}

.button {
	transition: 0.15s;
}

.button:hover {
	cursor: pointer;
	filter: brightness(0.85);
}

.empty-text {
	display: grid;
	align-items: center;
	font-size: 18px;
	width: max-content;
}

/* Full Page Layout Classes */
body {
	display: grid;
	grid-template-areas: 
		'nav content';
	grid-template-columns: min-content auto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: white;
}

#main-content {
	display: grid;
	grid-template-areas: 'title' 'body';
	grid-template-rows: min-content auto;
	grid-area: content;
	padding: 36px;
	gap: 26px;
	width: var(--main-width);
	height: calc(100vh - 36px * 2);
}

#main-content > div {
	/* 100% - panel title - gap - padding */
	height: calc(100vh - 54px - 26px - 72px);
}

#title {
	display: block;
	grid-area: title;
	font-weight: bold;
	font-size: 40px;
	margin-top: 6px;
	height: min-content;
	color: var(--dark-gray)
}

/* Standard Design Classes */
.glass-panel {
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0px 0px 25px rgba(31, 97, 135, 0.1);
	border-radius: 20px;
	padding: 10px;
	display: grid;
	gap: 5px;
	grid-auto-flow: row;
}

.glass-panel .panel-title {
	font-weight: bold;
	font-size: 22px !important;
	color: var(--dark-gray)
}

/* Standard Structure Classes */
.grid {
	display: grid;
	grid-template-rows: min-content;
	grid-auto-flow: row;
	gap: 28px;
}

.grid .row-grid {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 28px;
	height: min-content;
}

/* Task Cards */
.task-card {
	display: grid;
	position: relative;
	grid-template-areas: 
		'name days'
		'progress progress';
	grid-template-columns: auto min-content;
	grid-template-rows: min-content min-content;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
	transition: filter 0.2s ease, padding 0.2s ease;
	row-gap: 3px;
	padding: 5px;
}

.task-card p {
	font-size: 18px;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.task-card p:nth-of-type(1) {
	grid-area: name;
}

.task-card p:nth-of-type(2) {
	grid-area: days;
}

.task-card .hover-time {
	display: flex;
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	justify-content: space-between;
	opacity: 0;
	user-select: none;
	transition: opacity 0.2s ease;
}

.task-card .hover-time p {
	display: block;
	font-size: 14px;
}

.task-card:hover .hover-time {
	opacity: 1;
}

.task-card:hover {
	filter: brightness(0.95);
	padding-bottom: 30px;
}

.task-card:hover input.progress {
	transform: scaleY(1.5);
}

/* Progress */
input[type="range"].progress {
	-webkit-appearance: none;
	appearance: none;
	background: repeating-linear-gradient(
		135deg,
		rgb(209, 226, 252),
		rgb(209, 226, 252) 5px,
		rgb(147, 188, 255) 5px,
		rgb(147, 188, 255) 10px
	);
	height: 8px;
	width: 100%;
	grid-area: progress;
	overflow: hidden;
	border-radius: 100px;
	cursor: w-resize;
	transition: transform 0.1s linear;
	box-shadow: inset var(--gray-len) 0 0 0px var(--gray);
}

input[type="range"].progress:hover {
	filter: brightness(0.9);
}

input[type="range"].progress::-webkit-slider-thumb {
  -webkit-appearance: none;
	height: 8px;
	width: 8px;
	border-radius: 100px;
	background-color: var(--blue);
	border: 0px;
	box-shadow: -1004px 0 0 1000px var(--blue);
}

input[type="range"].progress::-moz-range-thumb {
	height: 8px;
	width: 8px;
	border-radius: 100px;
	background-color: var(--blue);
	border: 0px;
	box-shadow: -1004px 0 0 1000px var(--blue);
}

input[type="range"]:not(.progress) {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--gray);
	height: 8px;
	border-radius: 100px;
	cursor: pointer;
	grid-area: slider;
}

input[type="range"]:not(.progress)::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 18px;
	width: 18px;
	border-radius: 100px;
	background-color: var(--blue);
	border: 0px;
	margin-top: -5px;
}
  
input[type="range"]:not(.progress)::-moz-range-thumb {
	height: 14px;
	width: 14px;
	border-radius: 100px;
	background-color: var(--blue);
	border: 0px;
}

input[type="range"]:not(.progress)::-webkit-slider-runnable-track {
	background-color: var(--gray);
	height: 8px;
	border-radius: 100px;
}

input[type="range"]:not(.progress)::-moz-range-track {
	background-color: var(--gray);
	border-radius: 100px;
}

/* Slider Inputs */
.input.slider {
	display: grid;
	align-items: center;
	grid-template-areas:
		"l s r"
		"label label label";
	grid-template-columns: max-content auto max-content;
	column-gap: 10px;
	position: relative;
}

.input.slider .tooltip {
	position: absolute;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.15s linear;
	background-color: white;
	border-radius: 10px;
	padding: 5px 10px;
	box-shadow: 0px 0px 25px rgba(31, 97, 135, 0.1);
}

.input.slider input:hover + .tooltip {
	opacity: 1;
}

.input.slider .l, .modal .input.slider .r {
	font-weight: normal;
	font-size: 16px;
}

.input.slider .l {
	grid-area: l;
	padding-left: 10px;
}

.input.slider .s {
	grid-area: s;
}

.input.slider .r {
	grid-area: r;
	padding-right: 10px;
}

.input.slider .label {
	grid-area: label;
}

/* PREPME TEMP */
.task-card.prepme {
	grid-template-areas: 
		'icon name days'
		'progress progress progress';
	grid-template-columns: 16px auto min-content;
	grid-template-rows: min-content min-content;
	background-color: rgb(228, 238, 255);
}

.task-card.prepme::after {
	content: "";
	grid-area: icon;
	width: 16px;
	height: 16px;
	align-self: center;
	justify-self: center;
	background-image: url("/static/icons/Prepme.png");
	background-size: cover;
}

.prepme input[type="range"].progress {
	box-shadow: inset var(--gray-len) 0 0 0px white;
}
/* END PREPME TEMP */

/* Modals */
@keyframes modal-container-append-animate {
	from {
		backdrop-filter: blur(0px);
	}
	to {
		backdrop-filter: blur(4px);
	}
}

.modal-container {
	position: absolute;
	backdrop-filter: blur(4px);
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	transition: backdrop-filter 0.25s;
	animation: modal-container-append-animate 0.25s linear;
}

/* animate new box */
.new-box {
	animation: append-animate .3s linear;
}

.modal-container.removed {
	pointer-events: none;
	backdrop-filter: blur(0px);
}

.modal {
	background: rgba(255, 255, 255, 0.8);
	color: var(--dark-gray);
	display: grid;
	margin: 0px 50px;
	padding: 20px;
	max-width: calc(100% - 60px);
	min-width: 250px;
	grid-template-areas: 
		'title'
		'content'
		'options';
	grid-template-rows: repeat(3, min-content);
	width: min-content;
}

.modal > p {
	font-size: 22px;
	font-weight: bold;
}

.modal .options {
	display: grid;
	grid-template-columns: min-content auto min-content min-content;
	grid-template-areas: 'left spacer mid right';
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}

.modal .options button {
	display: inline-block;
	min-width: min-content;
	width: 100px;
	padding: 5px 20px;
	border-radius: 8px;
	font-size: 16px;
}

.modal .options .left {
	grid-area: left;
}

.modal .options .mid {
	grid-area: mid;
}

.modal .options .right {
	grid-area: right;
}

.modal .options .green {
	background-color: var(--green);
}

.modal .options .red {
	background-color: var(--red);
	color: white;
	font-weight: bold;
}

/* Form inputs */

.modal .input p {
	font-size: 14px;
	font-weight: bold;
	margin: 3px 0px;
}

input:focus {
	outline: none;
}

.modal input:disabled {
	filter: brightness(0.8);
	cursor: not-allowed;
}

.modal .input input[type="text"], .modal .input input[type="date"] {
	background-color: var(--gray);
	height: 18px;
	border: none;
	border-bottom: 2px solid var(--dark-gray);
	user-select: none;
	padding: 3px 10px;
	font-size: 16px;
	color: black;
	min-width: 250px;
	width: calc(100% - 10px * 2); /* 100% - padding */
}

.modal .input input.wide:not(input[type="range"]) {
	min-width: 500px;
}

.modal .form {
	display: grid;
	margin: 10px;
	min-width: 380px;
}

.modal .form.sandwich {
	grid-template-areas:
		'top top'
		'left right'
		'mid mid'
		'bottom bottom';
	grid-template-columns: 1fr 1fr;
	row-gap: 25px;
	column-gap: 15px;
}

.modal .form.sandwich .top {
	grid-area: top;
}

.modal .form.sandwich .left {
	grid-area: left;
}

.modal .form.sandwich .right {
	grid-area: right;
}

.modal .form.sandwich .mid {
	grid-area: mid;
}

.modal .form.sandwich .bottom {
	grid-area: bottom;
}

.modal .form.sandwich .input {
	width: 100%;
}

.modal .form.stack {
	row-gap: 25px;
}

.modal .tutorial-block {
	display: grid;
	user-select: text;
	padding: 10px;
	gap: 15px;
	align-items: center;
	min-width: 500px;
	max-width: 100%;
}

.modal .tutorial-block a {
	color: var(--blue);
}

.modal .tutorial-block img {
	width: 100%;
}

/* No Mobile */
.no-mobile {
	display: none;
	width: calc(100vw - 20px * 2);
	height: calc(100vh - 20px * 2);
	padding: 20px;
}

.no-mobile p {
	font-size: 30px;
}

.no-mobile p:nth-child(1) {
	font-weight: bold;
	margin-bottom: 10px;
}

@media screen and (max-width: 970px) {
	.nav {
		display: none !important;
	}

	#main-content {
		display: none !important;
	}

	.no-mobile {
		display: block;
	}
}
