{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% comment %} Meta and stuff {% endcomment %}
	<base target="_self">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tuesday - App</title>

	{% comment %} Favicon {% endcomment %}
	<link rel="icon" href="{% static 'favicons/Light.png'%}" media="(prefers-color-scheme:no-preference)">
	<link rel="icon" href="{% static 'favicons/Dark.png'%}"  media="(prefers-color-scheme:dark)">
	<link rel="icon" href="{% static 'favicons/Light.png'%}" media="(prefers-color-scheme:light)">

	{% comment %} Auth Stuff {% endcomment %}
	<meta name="csrf_token" content="{{ csrf_token }}">
	
	{% comment %} CSS {% endcomment %}
	<link defer rel="stylesheet" href="{% static 'base.css' %}">
	<link defer rel="stylesheet" href="{% static 'nav/nav.css' %}">
	<link defer rel="stylesheet" href="{% static 'dash/dash.css' %}">
	<link defer rel="stylesheet" href="{% static 'list/list.css' %}">
	<link defer rel="stylesheet" href="{% static 'schedule/schedule.css' %}">
	<link defer rel="stylesheet" href="{% static 'timer/timer.css' %}">
	<link defer rel="stylesheet" href="{% static 'settings/settings.css' %}">
	
	{% comment %} JS {% endcomment %}
	<script defer src="{% static 'task.js' %}"></script>
	<script defer src="{% static 'data.js' %}"></script>
	<script defer src="{% static 'page.js' %}"></script>
	<script defer src="{% static 'nav/nav.js' %}"></script>
	<script defer src="{% static 'dash/dash.js' %}"></script>
	<script defer src="{% static 'list/list.js' %}"></script>
	<script defer src="{% static 'schedule/schedule.js' %}"></script>
	<script defer src="{% static 'timer/timer.js' %}"></script>
	<script defer src="{% static 'settings/settings.js' %}"></script>
	<script defer src="{% static 'modal.js' %}"></script>
	<script defer src="{% static 'initer.js' %}" ></script>

	{% comment %} External JS {% endcomment %}
	<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<style>
		* {
			margin: 0px;
			padding: 0px;
			font-family: Roboto, sans-serif;
		}
	</style>
</head>
<body>
	{% comment %} User Data {% endcomment %}
	<div id="data" hidden>{{ data }}</div>

	{% include 'nav.html' %}

	<div id="main-content">
		<p id="title">Loading...</p>
		{% include 'dash.html' %}
		{% include 'list.html' %}
		{% include 'schedule.html' %}
		{% include 'timer.html' %}
		{% include 'settings.html' %}
	</div>
	{% comment %} <div class="modal-container">
		<div class="modal glass-panel">
			<p>Modal Title</p>
			<div class="form">
				<input type="text" maxlength="30">
				<div class="form-label">Name</div>
			</div>
			<div class="options">
				<button class="glass-panel button left">Cancel</button>
				<button class="glass-panel button right">OK</button>
			</div>
		</div>
	</div> {% endcomment %}
</body>
</html>