{% load static %}

<div id="dash" class="grid hidden">

	<div class="row-grid row1">
		{% comment %} Date, progress, timing {% endcomment %}
		<div class="glass-panel" id="basic-info-panel">
			<p class="panel-title" id="date-display">Loading...</p>
			<p id="p-complete">5%  Complete</p>
			<p id="p-on-track">85% On-Track</p>
		</div>

		<div class="glass-panel">
			<p class="panel-title">Progress</p>
			<div class="multi-progress">
				<div class="child yellow" id="yellow-progress" style="transform: TranslateX(90%)"></div>
				<div class="child green" id="green-progress" style="transform: TranslateX(10%)"></div>
			</div>
		</div>

		<div class="glass-panel">
			<p class="panel-title">Timing</p>
			<div class="multi-progress">
				<div class="child red" id="red-timing" style="transform: TranslateX(90%)"></div>
				<div class="child green" id="green-timing" style="transform: TranslateX(75%)"></div>
			</div>
		</div>
	</div>

	<div class="row-grid row2">
		{% comment %} Current Tasks, upcoming {% endcomment %}
		<div class="glass-panel section" id="current-tasks">
			<div class="panel-title">Current Tasks</div>
		</div>

		<div class="glass-panel section">
			<div class="panel-title">Events and Due Dates</div>
			{% comment %} Upcoming Calendar {% endcomment %}

			<div class="dash-cal day-labels">
				<p id="day-label-1">Mon</p>
				<p id="day-label-2">Tue</p>
				<p id="day-label-3">Wed</p>
				<p id="day-label-4">Thu</p>
				<p id="day-label-5">Fri</p>
			</div>

			<div class="dash-cal">
				<div id="day-1"></div>
				<div id="day-2"></div>
				<div id="day-3"></div>
				<div id="day-4"></div>
				<div id="day-5"></div>
			</div>
		</div>
	</div>

	{% comment %} Links (No row grid needed because full row) {% endcomment %}
	<div class="row-grid row3 glass-panel">
		<div class="panel-title">Links</div>
		<div id="links">
			<div class="glass-panel link"><img src="{% static 'icons/Web Icon.png' %}" alt="Icon"><p>Web</p></div>
			<div class="glass-panel icon-button"><img src="{% static 'icons/Add Icon.png' %}" alt="Add"></div>
		</div>
	</div>
</div>