{% load static %}

<div class="nav">
	<div class="icon"><img id="logo" src="{% static 'nav/icons/Logo_Icon.png' %}" alt="Logo"></div>
	<div class="icon selected"><img src="{% static 'nav/icons/Dash_Icon.png' %}" alt="Dashboard"></div>
	<div class="icon"><img src="{% static 'nav/icons/List_Icon.png' %}" alt="List"></div>
	<div class="icon"><img src="{% static 'nav/icons/Schedule_Icon.png' %}" alt="Schedule"></div>
	<div class="icon"><img src="{% static 'nav/icons/Timer_Icon.png' %}" alt="Timer"></div>
	<div class="spacer"></div>
	<div class="icon"><img src="{% static 'nav/icons/Settings_Icon.png' %}" alt="Settings"></div>
</div>