{% load static %}

<div id="schedule" class="grid hidden">
	<div class="grid glass-panel">
		<p class="panel-title">Timeline</p>
		<div id="timeline">
			<div id="timeline-day-names" class="row">
			</div>
		</div>
	</div>
		
	<div id="s-graph-panel" class="glass-panel">
		<p class="panel-title">Workload</p>
		<div id="s-graph-container">
			<svg id="svg" height="135px" width="100%" preserveAspectRatio="none" viewBox="0 0 10 10">
				<path d="" id="path" stroke="#438BFF" fill="transparent" stroke-width="5px" stroke-linecap="round"></path>
			</svg>
		</div>
	</div>
</div>