{% load static %}

<div id="timer" class="grid hidden">
	{% comment %} Timer stuff {% endcomment %}
	<div class="glass-panel" id="sequence">
		<p class="panel-title">Sequence</p>
		<div class="glass-panel button">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>5 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>5 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>5 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>30 mins</p>
		</div>
	</div>
	<div class="glass-panel" id="display">
		<p class="panel-title">Time</p>
	</div>
</div>