{% load static %}

<div id="timer" class="grid hidden">
	{% comment %} Timer stuff {% endcomment %}
	<div class="glass-panel" id="sequence">
		<p class="panel-title">Sequence</p>
		<div class="glass-panel button active">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>5 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>5 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>5 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Work</p>
			<p>25 mins</p>
		</div>
		<div class="glass-panel button">
			<p>Break</p>
			<p>30 mins</p>
		</div>
	</div>
	<div class="glass-panel" id="display">
		<p class="panel-title">Time</p>
		<p id="time">25:00</p>
		<div id="timer-buttons">
			<div class="glass-panel button" id="back"><img src="{% static 'icons/Back Icon.png' %}" alt="Back"></div>
			<div class="glass-panel button" id="play"><img src="{% static 'icons/Play Icon.png' %}" alt="Pause/Play"></div>
			<div class="glass-panel button" id="fast-forward"><img src="{% static 'icons/Fast Forward Icon.png' %}" alt="Fast Forward"></div>
		</div>
	</div>
</div>