html {
	font-size: 9px;
}

@media screen and (min-width: 850px) {
	html {
		font-size: 10px;
	}
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", sans-serif;
}

a {
	display: inline-block;
	width: max-content;
	text-decoration: none;
	color: unset;
	transition: 0.1s linear;
}

a:hover {
	opacity: 0.7;
}

img {
	user-select: none;
}

main {
	margin: 10rem auto;
	max-width: 80rem;
	padding: 0 5rem;
}

main > div{
	margin-bottom: 15rem;
}

#hero {
	background: linear-gradient(180deg, #141414 0%, #585858 100%);
	border-radius: 2rem;
	color: #FFFFFF;
	margin: 1.5rem;
	padding: 0 max(20px, calc((100vw - 3rem - 100rem)/2));
	overflow: hidden;
}

#hero #nav {
	display: grid;
	grid-template-columns: auto max-content max-content;
	align-items: center;
	gap: 3rem;
	height: 5.2rem;
	padding: 5rem;
}

@media screen and (max-width: 600px) {
	#hero {
		margin: 0.5rem;
		padding: 0 max(20px, calc((100vw - 1rem - 100rem)/2));
	}

	#hero #nav {
		gap: 1.5rem;
		padding: 3rem 1.5rem;
	}
}

#hero #nav img {
	aspect-ratio: 1;
	height: 5.2rem;
}

#hero #nav .button {
	font-size: 2rem;
	font-weight: bold;
	transition: 0.1s linear;
	cursor: pointer;
	padding: 0.75rem 2rem;
}

#hero #nav .button:hover {
	opacity: 0.8;
}

#hero #nav .button:nth-child(3) {
	border-radius: 1rem;
	background: #438BFF;
}

#hero #title {
	margin: 8rem 5rem;
	margin-bottom: 4rem;
	text-align: center;
}

#hero #title h1 {
	font-size: 4rem;
	margin-bottom: 1.5rem;
}

#hero #title h2 {
	font-size: 2rem;
	font-weight: normal;
	max-width: 50rem;
	margin: auto;
}

#hero #cluster {
	width: 100%;
	aspect-ratio: 12/5;
	position: relative;
}

#hero #cluster img {
	width: 60%;
	position: absolute;
}

#hero #cluster img#bot {
	left: 0;
	top: 15%;
}

#hero #cluster img#mid {
	right: 0;
	top: 0;
}

#hero #cluster img#top {
	right: 10%;
	top: 50%;
}

.img-desc-block {
	display: grid;
	grid-template-areas: "title img"
						 "desc img"
						 "link img";
	grid-template-columns: auto min-content;
	grid-template-rows: min-content min-content auto;
	gap: 1rem;
}

@media screen and (max-width: 600px) {
	.img-desc-block {
		grid-template-areas: "title"
							 "desc"
							 "img"
							 "link";
		grid-template-rows: min-content min-content min-content auto;
		justify-items: center;
		text-align: center;
	}
}

.img-desc-block .title {
	grid-area: title;
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.img-desc-block .title.soon::after {
	content: "Coming Soon";
	text-wrap: nowrap;
	font-size: 1.5rem;
	font-weight: bold;
	color: #4C4C4C;
	vertical-align: middle;
	background: #F1F1F1;
	padding: 0.5rem 1.5rem;
	border-radius: 100rem;
	margin-left: 2rem;
}

.img-desc-block .desc {
	grid-area: desc;
	font-size: 2rem;
	max-width: 50rem;
}

.img-desc-block .link {
	grid-area: link;
	font-size: 2rem;
	text-decoration: underline;
	font-weight: bold;
}

.img-desc-block .img {
	grid-area: img;
	width: 30rem;
	margin-right: 3rem;
}

#student {
	min-height: 22rem;
}

.img-desc-block .img img, .img-desc-block .img svg {
	width: 90%;
	margin: 0 5%;
}

.img-desc-block .img#student {
	position: relative;
}

.img-desc-block .img#student img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-desc-block .img#student #student-img {
	width: 80%;
}

@keyframes pulse {
	0% {
		opacity: 100%;
	}

	50% {
		opacity: 70%;
	}

	100% {
		opacity: 100%
	}
}

.img-desc-block .img#student #student-img-arrows {
	width: 60%;
	animation-name: pulse;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes select {
	0% {
		stroke-opacity: 50%;
	}

	17% {
		stroke-opacity: 90%;
	}

	33% {
		stroke-opacity: 50%;
	}
}

#work-dash1, #work-dash2, #work-dash3 {
	animation-name: select;
	animation-timing-function: linear;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

#work-dash2 {
	animation-delay: 2s;
}

#work-dash3 {
	animation-delay: 4s;
}

.feature-blocks {
	display: grid;
	grid-template-areas:
		"work target"
		"work timing"
		"visual timing";
	grid-template-columns: 3fr 2fr;
	grid-template-rows: repeat(3, max-content);
	gap: 2.5rem;
}

#feat-work {
	grid-area: work;
}

#feat-target {
	grid-area: target;
}

#feat-visual {
	grid-area: visual;
}

#feat-timing {
	grid-area: timing;
}

.feature-block {
	display: grid;
	gap: 0.6rem;
	background: #F6F6F6;
	padding: 2rem;
	border-radius: 2rem;
}

.feature-block .title {
	font-size: 2.6rem;
	font-weight: 500;
}

.feature-block .desc {
	font-size: 1.6rem;
	max-width: 50rem;
}

.feature-block .link {
	font-size: 1.6rem;
	text-decoration: underline;
	font-weight: bold;
}

.feature-block img {
	width: calc(100%);
	margin-top: 2rem;
	box-shadow: 0px 0px 25px 0px rgba(31, 97, 135, 0.1);
	max-width: 40rem;
}

@media screen and (max-width: 600px) {
	.feature-blocks {
		font-size: 12px;
		grid-template-areas:
			"work"
			"target"
			"timing"
			"visual";
		grid-template-columns: minmax(30rem, 44rem);
		grid-template-rows: repeat(4, max-content);
		max-width: 44rem;
		margin: auto;
		margin-bottom: 15rem;
	}

	.feature-block {
		justify-items: center;
		text-align: center;
	}

	.feature-block .desc {
		max-width: 35rem;
	}
}

footer {
	background: #434343;
	width: calc(100% - 16rem);
	padding: 2rem 8rem;
	color: #FFFFFF;
	font-size: 1.6rem;
	display: grid;
	grid-template-columns: auto repeat(3, max-content);
	gap: 3rem;
}

footer a {
	text-decoration: underline;
}

@media screen and (max-width: 600px) {
	footer {
		padding: 2rem;
		width: calc(100% - 4rem);
		align-items: center;
	}
}

#no-mobile {
	display: grid;
	user-select: none;
	pointer-events: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: #F6F6F6;
	text-align: center;
	border-radius: 2rem;
	padding: 2rem;
	width: calc(100vw - 4rem - 8rem);
	gap: 3rem;
	box-shadow: 0px 0px 10rem 0px rgba(0, 0, 0, 0.5);
	transition: opacity 0.2s linear;
	opacity: 0;
}

#no-mobile.show {
	opacity: 1;
	pointer-events: unset;
	user-select: unset;
}

#no-mobile .title {
	font-size: 6rem;
	font-weight: bold;;
}

#no-mobile .desc {
	font-size: 3rem;
}

#no-mobile a {
	text-decoration: underline;
}

#no-mobile .close {
	font-size: 2.5rem;
	font-weight: bold;
}
