{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% comment %} Meta and stuff {% endcomment %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Privacy Policy</title>

	{% comment %} Favicon {% endcomment %}
	<link rel="icon" href="{% static 'favicons/Light.png'%}" media="(prefers-color-scheme:no-preference)">
	<link rel="icon" href="{% static 'favicons/Dark.png'%}"  media="(prefers-color-scheme:dark)">
	<link rel="icon" href="{% static 'favicons/Light.png'%}" media="(prefers-color-scheme:light)">
	<style>
		* {
			font-family: sans-serif;
		}
		
		body {
			max-width: 1000px;
			margin: auto;
			padding: 0px 20px;
		}

		h1 {
			text-align: center;
		}

		li {
			margin: 10px 0px;
		}
	</style>
</head>
<body>
	<h1>Tuesday Technologies Privacy Policy</h1>
	<p style="font-weight: bold; text-align: center;">Updated February 13, 2022</p>
	<hr>
	<p>Tuesday Technologies develops web applications for personal use. “Tuesday” or “we” or “us” or “our” refers to Tuesday Technologies in this privacy policy. Users refer to any entity who accepts this privacy policy and has used a product from Tuesday Technologies.</p>
	<p>This privacy policy applies whenever you access or interact with any of our products, services, or content.</p>
	<h3>Information we collect</h3>
	<p>To provide our products, services, and content, we must collect data. We also understand that people value privacy, so we only collect information that is absolutely necessary to the function of our products. We will never collect information without the knowledge and approval of the user we are collecting information from.</p>
	<ul>
	<li>Task information - This is information about the user's tasks that the user inputs directly into the application through clearly labeled buttons and text boxes. This is the only method we use for obtaining information about a user's tasks to maintain privacy.</li>
	<li>User identification information - This is basic public information about the user's Google account to connect a user to their data. We do not receive this information until you consent through Google's "OAuth Consent Screen." Users may revoke our access at any time through their Google account.</li>
	<li>Device information - This is information about the screen size of the user's device so we can fit our apps to the screen. This information is never retained and is only used while loading the product.</li>
	</ul>
	<h3>How we use collected information</h3>
	<p>We take user privacy seriously, so your data is safe. A user's data will never be shared, sold, or even viewed by third parties.</p>
	<ul>
	<li>Information associated with tasks is shown directly to the user through graphical user interfaces. Task data is also processed on the user's device, and stays exclusively on the user's device and our devices.</li>
	<li>We will analyze user information to improve the accuracy of the prioritization, but this must be done off user devices. Any analysis of user data off the device of the users will be anonymous, meaning user data will not be associated with the user who it belongs to and will be mixed with other users' data. Anonymous data is still treated as confidential information and will never be shared.</li>
	<li>Information collected through Google OAuth is used to identify users from each other. Although this data belongs to Google, we treat it with the same standard of privacy and security as any other data we have access to. Again, we will not distribute any information associated with individual users without their consent. User email addresses will be used only for extremely important communications, such as updates to policies and data security updates.</li>
	</ul>
	<h3>Data retention</h3>
	<p>We retain the data we collect in order to provide a more complete experience across our products, services, and content. Users will always have to option to delete their task data by pressing the "Delete All Data" button or by requesting a complete deletion of all their data by contacting us with the information listed below.</p>
	<h3>Communications</h3>
	<p>When this policy is updated, it will be available at <a href="https://tues.tech/privacy">https://tues.tech/privacy</a>. If the updates impact the collection or usage of user data, users will be notified of the changes and when they will be in effect. Users will always have to option to delete their data prior to updates to this policy.</p>
	<h3>Dispute resolution</h3>
	<p>Users who do not accept this privacy policy may not use or consume our products, services, and content. Users who would like more information regarding how their data is stored and used may contact us for a detailed report. Users who would like to retract their agreement to this policy may contact us to have their information removed or disassociated from all of our databases.</p>
	<h3>Contact information</h3>
	<p>Questions, comments, and concerns regarding privacy may be directed to <a href="mailto:contact@tues.tech">contact@tues.tech</a>.</p>
	<p>Technical resources including source code, licensing, and feature/bug tracking are available at <a href="https://github.com/Tuestech">https://github.com/Tuestech</a>.</p>
</body>
</html>