{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% comment %} Meta and stuff {% endcomment %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Privacy Policy</title>

	{% comment %} Favicon {% endcomment %}
	<link rel="icon" href="{% static 'favicons/Light.png'%}" media="(prefers-color-scheme:no-preference)">
	<link rel="icon" href="{% static 'favicons/Dark.png'%}"  media="(prefers-color-scheme:dark)">
	<link rel="icon" href="{% static 'favicons/Light.png'%}" media="(prefers-color-scheme:light)">
	<style>
		* {
			font-family: sans-serif;
		}
		
		body {
			max-width: 800px;
			margin: auto;
			padding: 0px 20px;
		}

		h1 {
			text-align: center;
		}

		li {
			margin: 10px 0px;
		}
	</style>
</head>
<body>
	<h1>Tuesday Technologies Privacy Policy</h1>
	<p style="font-weight: bold; text-align: center;">Updated January 3, 2023</p>
	<hr>
	<p>Tuesday Technologies develops web applications for personal use. “Tuesday” or “we” or “us” or “our” refers to Tuesday Technologies in this privacy policy. Users refer to any entity who accepts this privacy policy and has used a product from Tuesday Technologies.</p>
	<p>This privacy policy applies whenever you access or interact with any of our products, services, or content.</p>
	<h3>Information we collect</h3>
	<p>To provide our products, services, and content, we must collect data. We also understand that people value privacy, so we only collect information that is absolutely necessary to the function of our products. We will never collect information without the knowledge and approval of the user we are collecting information from.</p>
	<ul>
	<li>App data - This is data directly inputted by the user, including but not limited to a task's name, a link's URL, or task priority preferences. App data is only collected directly from the user in input components including but not limited to text boxes, buttons, sliders. Input components are the only method by which app data is collected.</li>
	<li>User identification information - This is basic public information about the user's Google account to connect a user to their data. We do not receive this information until you consent through Google's "OAuth Consent Screen." Users may revoke our access at any time through their Google account.</li>
	<li>Device information - This is information about the screen size of the user's device so we can fit our apps to the screen. This information is never retained and is only used while loading the product.</li>
	</ul>
	<h3>How we use collected information</h3>
	<p>We take user privacy seriously. A user's individual data will never be shared, sold, or even viewed by third parties without the user's explicit permission.</p>
	<ul>
	<li>Information associated with tasks is shown directly to the user through graphical user interfaces. Task data is also processed on the user's device, and stays exclusively on the user's device and our devices.</li>
	<li>We will analyze user information to improve the accuracy of the prioritization. This analysis is done off user devices to ensure data security and completeness of analysis. Any analysis of user data off the device of the users will be anonymous and aggregated, meaning user data will not be associated with the user who it belongs to and will be mixed with other users' data. Anonymous data is still treated as confidential information and will never be shared without permission. Users may opt out of analysis by setting the "Data Collection" preference in the settings page to the off position.</li>
	<li>Information collected through Google OAuth is primarily used to identify users from each other. Although this data belongs to Google, we treat it with the same standard of privacy and security as any other data we have access to. We will not distribute any information associated with individual users without their consent. User email addresses will be used only for extremely important communications, such as updates to policies and data security updates.</li>
	</ul>
	<h3>Data retention</h3>
	<p>We retain the data we collect in order to provide a more complete experience across our products, services, and content. Users always have to option to delete their app data by pressing the "Delete Data" button. Alternatively, a user can request a complete deletion of all their data by contacting us with the information listed below.</p>
	<h3>Communications</h3>
	<p>When this policy is updated, it will be immediately available at <a href="https://tues.tech/privacy">https://tues.tech/privacy</a>. If the updates impact the collection or usage of user data, users will be notified of the changes and when they will be in effect. Users will always have to option to request for the complete deletion of their data through the contact information listed below. Users may also retract their permission to have their data analyzed if previously given by contacting the information listed below.</p>
	<h3>Dispute resolution</h3>
	<p>Users who do not accept this privacy policy may not use or consume our products, services, and content. Users who would like more information regarding how their data is stored and used may contact us for a detailed report. Users who would like to retract their agreement to this policy may contact us to have their information removed or disassociated from all of our databases.</p>
	<h3>Contact information</h3>
	<p>Requests, questions, and concerns regarding privacy or this policy may be directed to <a href="mailto:contact@tues.tech">contact@tues.tech</a>.</p>
	<p>Technical resources including source code, licensing, and feature/bug tracking are available at <a href="https://github.com/Tuestech/v2">https://github.com/Tuestech/v2</a>.</p>
</body>
</html>